html,
body {
    margin: 0;
    padding: 0;
}

body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-family: Roboto, Arial, sans-serif;
	font-weight: normal;
	/*background-color: #849d8f;*/
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size:35px;
}

h4 {
	font-size:24px;
}

h5 {
	font-size:16px;
}

* {
	outline: 1px solid red;
}

.container {
	width: 860px;
	padding: 0 20px;
	margin: 0 auto;
}

.main-header {
	background: #849d8f;
}

	.main-navigation {
		float: left;
		width: 580px;
		font-size: 0px;
	}
		.main-navigation ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
		
			.main-navigation-list li {
				display: inline-block;
				vertical-align: top;
				font-size: 16px;
			}
		
	.user-block {
		width: 260px;
		float: right;
	}
	
	.header-contacts {
		float: right;
	}
	
	
.main-content {
	background: #849d8f;
}	
	.offers {
		margin-bottom: 40px;
	}
	
		.offer {
			width: 420px;
		}
		
			.offer-raspberries {
				float: left;
				background: #9d1d3a;
			}
			
			.offer-chocolate {
				float: right;
				background: #371e11;
			}
			
	.breadcrumbs {
		font-size: 0px;
		list-style: none;
		padding: 0;
	}
		
		.breadcrumbs li {
			font-size: 14px;
			display: inline-block;
		}
		
	.select-ice {
		background: #849d8f; /* про фонт сайз не забыл, не знаю как всем элементам вернуть значение фонт сайза*/
		margin-bottom: 40px;
	} 	
	
		.select-ice > div{
			display: inline-block;
			vertical-align: top;
		}
		
	.items {
		margin-bottom: 40px;		
		font-size: 0px;
		list-style: none;
        padding: 0;
	}
	
		.item {
			display: inline-block;
			float: left;
			vertical-align: top;
			width: 200px;
			margin-right: 20px;
			font-size: 16px;
			min-height: 315px; /* пока другого решения не придумал ...(что бы не ломались строки с мороженками)*/
		}
		
			.item:nth-child(4n) {
				margin-right: 0px;
			}
			
	.pagination {
		float: right;
	}		
		
	.features {
		padding: 25px 20px;
		margin-bottom: 40px;
		background: #ece0c7;
	}	
	
		.features-list {
			font-size: 0px;
			list-style: none;
			padding: 0;
		}
		
			.features-list li {
				width: 350px;
				display: inline-block;
				font-size: 16px;
			}
			
				.features-list-ice,
				.features-list-leaf {
					float: left;
					margin-left: 52px;
				}
				
				.features-list-cow,
				.features-list-temp {
					float: right;
				}
				
	.news-mailing {
		margin-bottom: 40px;
	}
		.news-mailing article{
			width: 420px;
			min-height: 220px;
		}
			.blog-news{
				float: left;
				background: fff;
			}
			
			.mailing {
				float: right;
				background: f8f7f4;
			}
	
	.map {
		min-height: 430px;
		/*background: #fff;*/
	}
	
	.contacts {
		float: right;
		width: 240px;
		min-height: 305px;
		padding: 25px 30px;
		background: fefefe; /*не применял бг цвет , не видно текста*/
	}
	
.main-footer {
	background: #849d8f;
}

	.footer-social {
		float: left;
		width: 200px;
		margin-right: 20px;
		padding: 20px 0;
	}
	
	.footer-info {
		float: left;
		width: 420px;
		padding: 20px 0;
	}
	
	.footer-copyright {
		float: right;
		width: 200px;
		padding: 20px 0;
	}	


		
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}	