html,
body {
    margin: 0;
    padding: 0;
}

body {
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	font-family: "Roboto", "Arial", sans-serif;
	background: #849d8f;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size:35px;
}

h4 {
	font-size:24px;
}

h5 {
	font-size:16px;
}

{
	outline: 1px solid red;
}

.button {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
}

.button:hover,
.slide-btn:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
			
.button:active,
.slide-btn:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}			

.slider-radio-covert {
	display: none;
}

.site-wrapper {
	min-width: 900px;
	background: #849d8f url("../img/slide-1.png") no-repeat top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

	.container {
		position: relative;
		width: 860px;
		padding: 0 20px;
		margin: 0 auto;
	}

	.main-header {
		color: #fff;
		background: #849d8fl;
		height: 96px;
	}

		.header-logo {
			float: left;
			text-decoration: none;
			margin: 10px 16px 0px -5px;
			height: 63px;
			width: 153px;
		}

		.header-nav {
			float: left;
			max-width: 435px;
			margin-top: 23px;
		}
		
			.header-nav-list {
				list-style: none;
				font-size: 0;
				padding: 0;
				margin: 0;
			}
			
				.nav-list-item {
					display: inline-block;
					vertical-align: top;
					font-size: 16px;
					border-radius: 13px;
					padding-bottom: 5px;
				}
					
					.nav-list-item > a {
						color: #fff;
						display: block;
						padding: 0 14px;
						height: 32px;
						line-height: 32px;
						font-weight: bold;
						border-radius: 13px;
						text-decoration: none;
					}
					
					.nav-list-item > a:hover {
						background: #f7f6f3;
						color: #333333;
						text-decoration: none;
					}
					
					.nav-list-item > a:active {
						background: #ededed;
						box-shadow: inset 0 1px 2px 1px #6c6d6c;
					}
					
					.nav-list-item-current > a {
						background: #d07058;
						text-decoration: none;
						color: #fff;
					}
					
							.nav-list-inner {
								display: none;
								font-size: 14px;
								list-style: none;
								padding: 0;
								margin: 0;
								width: 145px;
								background: #f8f7f4;
								position: absolute;
								z-index: 25;
								top: 37px;
								left: -7px;
								border-radius: 3px;
							}
							
								.nav-list-inner  a {
									text-decoration: none;
									color: #343434;
									display: block;
									padding: 5px 21px;
								}
								
								.nav-list-inner  a:hover {
									background: #fbded8;
								}
								
								.nav-list-inner  a:active {
									background: #f6b5a5;
								}
								
								.nav-list-inner .nav-list-inner-current {
									background: #d07058;
									color: white;
								}
								
								.nav-list-inner .nav-list-inner-current:hover {
									background: #fbded8;
									color: #343434;
								}
								
								.nav-list-inner .nav-list-new  {
									font-weight: bold;
									position: relative;
									padding-top: 8px;
									padding-bottom: 10px;
								}
								
								.nav-list-inner .nav-list-new:after {
									content: "";
									position: absolute;
									bottom: 0;
									left: 6px;
									right: 6px;
									background: #d1d0ce;
									height: 1px;
									z-index: 1;
								}
					
					.nav-list-item-covert {
						position: relative;
					}
					
					.nav-list-item-covert:hover .nav-list-inner {
						display: block;
					}	
				
		.user-block {
			float: right;
			font-size: 0;
			max-width: 262px;
			margin-top: 23px;
		}
			
			.form-search {
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				height: 36px;
				position: relative;
				margin-right: 10px;	
			}
			
				.form-search-btn {
					font-size: 0;
					height: 33px;
					width: 33px;
					background: rgba(255, 255, 255, 0.2) url("../img/loupe.svg") no-repeat 50% 50%;
					border-radius: 100%;
					border: none;
				}
				
				.form-search-covert {
					background: #f8f7f4;
					display: none;
					position: absolute;
					top: 36px;
					right: 0;
					border-radius: 3px;
					z-index: 25;
					color: #353535;
				}
				
				.form-search:hover  .form-search-btn {
					background: #f8f7f4 url("../img/loupe-hover.svg") no-repeat 50%;
				}
				
				.form-search:hover .form-search-covert {
					display: block;
					z-index: 25;
				}
				
					.form-search-input {
						width: 287px;
						height: 37px;
						margin: 15px 15px;
						padding: 0 11px;
						border: 1px solid #d3d3d2;
						border-radius: 3px;
					}
					
					.form-search-input:hover {
						border: 1px solid #d3d3d2;
					}
				
			.form-enter {
				display: inline-block;
				vertical-align: top;
				position: relative;
				font-size: 14px;
				height: 36px;
				color: #353535;
			}
			
				.form-enter-link {
					display: inline-block;
					vertical-align: top;
					text-decoration: none;
					color: #fff;
					padding: 0 15px 0 44px;
					background: rgba(255, 255, 255, 0.2) url("../img/enter.svg") no-repeat 23% 50%;
					border-radius: 15px;
					height: 32px;
					line-height: 32px;
					border: none;
				}
				
				.form-enter:hover .form-enter-link {
					background: #f8f7f4 url("../img/enter-hover.svg") no-repeat 23% 50%;
					border-radius: 15px;
					color: #323232;
				}
				
				.form-enter-covert {
					display: none;
					position: absolute;
					background: #f8f7f4;
					border-radius: 3px;
					top: 36px;
					right: -3px;
					width: 243px;
					height: 140px;
					padding: 20px 15px 15px 15px;
				}
				
					.form-enter-input {
						width: 210px;
						height: 37px;
						padding: 0 15px;
						margin-bottom: 10px;
						border: 1px solid #d3d3d2;
						border-radius: 3px;
					}
					
					.form-enter-button  {
						margin-top: 5px;
						padding: 0 32px;
						height: 35px;
						font-size: 15px;
						line-height: 35px;
						border-radius: 15px;
					}
					
					.form-enter-covert-links {
						width: 122px;
						margin-top: 2px;
						float: right;
						font-size: 13px;
					}
					
					.form-enter-covert-links > a {
						color: #333;
					}
					
					.form-enter-covert-links > a:hover {
						color: #ec593c;
					}
					
					.form-enter-covert-links > a:active {
						color: #ec593c;
					}
					
				
				.form-enter:hover .form-enter-covert {
					display: block;
					z-index: 25;
				}
			
			.basket {
				display: inline-block;
				vertical-align: top;
				position: relative;
				font-size: 14px;
				margin-left: 10px;
				height: 36px;
			}	
			
				.basket-link {
					display: none;
					padding: 0 34px 0 45px;
					height: 32px;
					line-height: 32px;
					text-decoration: none;
					color: #fff;
					background: rgba(255, 255, 255, 0.2) url("../img/basket.svg") no-repeat 18% 50%;
					border-radius: 15px;
				}
				
				.basket-link-full {
					display: block;
					padding: 0 15px 0 45px;
					height: 32px;
					line-height: 32px;
					text-decoration: none;
					color: #fff;
					background: rgba(255, 255, 255, 0.2) url("../img/basket.svg") no-repeat 18% 50%;
					border-radius: 15px;			
				}
				
				.basket:hover .basket-link {
					background: #f8f7f4 url("../img/basket-hover.svg") no-repeat 18% 50%;
					border-radius: 15px;
					color: #323232;
				}
				
				.basket:hover .basket-link-full {
					background: #f8f7f4 url("../img/basket-full.png") no-repeat 18% 50%;
					border-radius: 15px;
					color: #323232;
				}
				
				.basket-table-container {
					padding: 34px 16px 18px 16px;
					display: none;
					border-radius: 3px;
				}				
				
					.basket-table {
						width: 508px;
						color: #333333;
						line-height: 17px;
					}
					
						.basket-table-item td {
							text-align: center;
							vertical-align: top;
							height: 53px;
						}
						
						.table-cell-close {
							width: 18px;
						}
						
							.basket-table-button {
								width: 11px;
								height: 11px;
								border: none;
								background: url("../img/cross.svg") no-repeat center;
							}
							
						.basket-table-total {
							border-top: 1px solid #cacac7;
						}
						
						.table-cell-ice {
							width: 58px;
						}
							.basket-table-img {
								margin-top: -7px;
							}
						
						.basket-table-item .table-cell-caption {
							text-align: left;
						}
						
						.table-cell-caption {
							width: 240px;
							font-size: 13px;
						}
						
						.table-cell-weight {
							width: 155px;
							font-weight: 400;
						}
						
						.basket-table-item .table-cell-cost {
							width: 66px;
							font-size: 13;
							font-weight: 400;
							text-align: left;
						}
							.basket-table-price {
								color: #808080;
							}
						
					.basket-table-total,
					.basket-table-order {
						text-align: right;
						margin-right: 10px;
					}

					.basket-table-total {
						height: 40px;
					}
					
					.basket-table-order {
						height: 42px;
					}
					
						.basket-table-total-cost {
							margin-right: 12px;
							font-size: 15px;
							font-weight: bold;
						}
						
						.basket-table-link-order {
							margin-right: -4px;
							padding: 0 22px;
							height: 35px;
							font-size: 15px;
							font-weight: bold;
							border-radius: 14px;
							line-height: 35px;
						}
					
					.basket:hover .basket-table-container {
						display: block;
						position: absolute;
						background: #f8f7f4;
						z-index: 25;
						top: 36px;
						right: 0px;
					}
				
		.header-contacts {
			float: right;
			position: absolute;
			text-align: right;
			right: 20px;
			top: 72px;
		}
		
			.header-contacts-time {
				margin-top: -2px;
				font-size: 14px;
				font-weight: bold;
			}
			
			.header-contacts-phone {
				margin-top: 2px;
				font-size: 22px;
				font-weight: bold;
				letter-spacing: 0.005in;
			}

	.main-content {
	}	
	
		.slider {
			position: relative;
			padding-top: 295px;
			text-align: center;
			color: #fff;
			margin-bottom: 40px;
		}
			.slide {
				display: none;
			}
			
				.slide-title {
					width: 700px;
					margin: 0 auto;
					margin-bottom: 30px;
					font-weight: 800;
					font-size: 60px;
					line-height: 60px;
				}
			
			.slider-controls {
				position: absolute;
				bottom: 21px;
				left: 0;
				z-index: 20;
				font-size: 0;
			}	
				
				.slider-controls label {
					display: inline-block;
					vertical-align: top;
					width: 17px;
					height: 17px;
					margin-right: 8px;
					background-color: transparent;
					border: 2px solid #fff;
					border-radius: 50%;
					cursor: pointer;
				}
				
				.slider-controls label:hover {
					background: rgba(255, 255, 255, 0.5);
				}
				
				.slide-btn {
					display: inline-block;
					padding: 12px 50px;

					font-weight: 600;
					font-size: 31px;
					line-height: 41px;
					vertical-align: top;
					color: #ffffff;
					text-decoration: none;
					text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

					background: #f26843;
					background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
					border-radius: 100px;
					box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
				}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}	

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide-1.png"); 
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide-2.png"); 
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide-3.png"); 
}		

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #fff;
}

/* делаем так что бы картинки бэли уже в кеше до переключения слайдов*/
.site-wrapper:before,
.site-wrapper:after {
    content: "";
    visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
    background-image: url("../img/slide-1.png");
}

.site-wrapper:after {
    background-image: url("../img/slide-2.png");
}

		.offers {
			margin-bottom: 40px;
		}
		
			.offer {
				width: 420px;
				min-height: 230px;
				border-radius: 11px;
				position: relative;
			}
			
				.offer-raspberries {
					float: left;
					background: #9d1d3a;
					background-image: url("../img/bg_raspberries.png");
				}
					
					.g-title-h3 {
						margin: 25px 0 25px 20px;
						padding: 0;
					}
					
					.offer-text {
						font-size: 18px;
						font-weight: bold;
						margin: 0 20px;
						margin-bottom: 85px;
					}
				
				.offer-chocolate {
					float: right;
					background: #371e11;
					background-image: url("../img/bg_chocolate.png");
				}
					
					.offer-button {
						position: absolute;
						padding: 0 22px;
						border-radius: 18px;
						height: 46px;
						font-size: 18px;
						font-weight: bold;
						line-height: 46px;
						right: 22px;
						bottom: 23px;
					}
					
					.offer-chocolate .offer-button {
						bottom: 30px;
						margin-right: -4px;
					}
					
					.offer-chocolate .offer-text {
						margin-top: -1px;
					}
				
		.breadcrumbs {
			font-size: 0;
			list-style: none;
			padding: 0;
		}
			
			.breadcrumbs-page {
				font-size: 14px;
				display: inline-block;
				vertical-align: top;
				position: relative;
			}
			
				.breadcrumbs-page a {
					text-decoration: none;
					color: #fff;
					margin-right: 21px;
				}
				
				.breadcrumbs-page a:hover,
				.breadcrumbs-page a:active {
					color: #ec593c;
					box-shadow: inset 0 -1px 0 0 #ec593c;
				}
				
				.breadcrumbs-page:not(:last-child) a:hover,
				.breadcrumbs-page:not(:last-child) a:active {
					color: #ec593c;
				}
				
				.breadcrumbs-page:last-child a {
					text-decoration: none;
					cursor: default;
					box-shadow: none;
					color: #fff;
				}
				
			.breadcrumbs-page:not(:last-child):after {
				content: "»"; /* не разобрался пока как вставить спецсимвол(точнее он не сработал)*/
				position: absolute;
				top: 0;
				right: 8px;
			}
			
			.g-title-h1 {
				margin: 10px 0 33px 0;
			}
			
		.select-ice {
			background: #849d8f;
			margin-bottom: 38px;
			font-size: 0;
		}
		
			.select-ice > div {
				display: inline-block;
				vertical-align: top;
				font-size: 16px;
				color: #fff;
				font-size: 14px; 
			}
			
				.sort-list {
					width: 192px;
					height: 36px;
					padding-left: 13px;
					border: none;
					font-size: 16px;
					border-radius: 14px;
					color: #fff;
					margin-right: 17px;
					margin-top: 1px;
					background: rgba(255, 255, 255, 0.2) url("../img/select-arrow.svg") no-repeat 93% 52%;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}
				
					.sort-list option{
						font-size: 14px;
						font-weight: 400;
					}
				
				.sort-list:hover {
					background: #fff url("../img/select-arrow-hover.svg") no-repeat 93% 52%;
					color: #343434;
				}
				
				.title-sort {
					margin-left: 18px;
					margin-bottom: 1px;
				}
				
			.price-range {
				position: relative;
				width: 188px;
				height: 20px;
				margin-right: 14px;
				padding: 0 15px;
				padding-top: 16px;
				margin-top: 1px;
				background: rgba(255, 255, 255, 0.2);
				border-radius: 15px;
				cursor: pointer;
			}
			
				.price-range .scale {
					height: 4px;
					background: #d1d9d2;
				}
				
					.price-range .bar {
						width: 50%;
						margin-left: 25px;
						height: 4px;
						background: #f8f7f4;
					}
					
					.price-range .toggle {
						position: absolute;
						top: 8px;
						left: 0;
						width: 20px;
						height: 20px;
						background: #f8f7f4;
						border-radius: 100%;
						box-shadow: 0 2px 1px 0 #98a79e;
					}
					
					.price-range .toggle:hover {
						width: 22px;
						height: 22px;
						top: 7px;
					}
					
					.price-range .toggle-min {
						left: 34px;
					}
					
					.price-range .toggle-min:hover {
						left: 33px;
					}
					
					.price-range .toggle-max {
						left: 132px;
					}
					
					.price-range .toggle-max:hover {
						left: 131px;
					}
				
			.price-title {
				margin-left: 16px;
				margin-bottom: -2px;
				width: 195px;
				font-size: 0;
			}
			
				.price-title label {
					font-size: 14px;
					display: inline-block;
					width: 50%;
				}
				
					.price-title input {
						color: #fff;
						background: none;
						width: 29px;
						border: none;
					}

			.fatness {
				font-size: 0;
			}
			
				.title-fatness {
					margin-left: 19px;
				}
			
				.fatness-radio {
					width: 386px;
					margin: 0;
					padding: 0;
					background: rgba(255, 255, 255, 0.2);
					border-radius: 14px;
					height: 36px;
					padding-left: 15px;
					padding-right: 15px;
					margin-top: 3px;
					margin-left: 2px;
				}
				
					.fatness-radio li {
						display: inline-block;
						vertical-align: top;
						margin-top: 8px;
						list-style: none;
						margin-right: 17px;
					}
					
					.fatness-radio li:last-child {
						margin-right: 0;
					}
					
					.fatness-radio-btn + label {
						cursor: pointer;
						font-size: 16px;
						font-weight: medium;
					}
					
					.fatness-radio-btn {
						position: absolute;
						display: none;
					}
					
					.fatness-radio-btn + label {
						position: relative;
						padding: 0 0 0 30px;
					}
					
					.fatness-radio-btn + label:before {
						content: "";
						position: absolute;
						left: 0;
						top: -2px;
						width: 21px;
						height: 21px;
						background: url("../img/radio-btn-1.svg") no-repeat;
						border-radius: 100%;
						opacity: 0.85;
					}
					
					.fatness-radio-btn + label:hover:before {
						opacity: 1;
					}
					
					.fatness-radio-btn:checked + label:before {
						content: "";
						position: absolute;
						border-radius: 100%;
						left: 0;
						width: 21px;
						height: 21px;
						background: url("../img/radio-btn.svg") no-repeat;
						opacity: 0.85;
					}
					
					.fatness-radio-btn:checked + label:hover:before {
						opacity: 1;
					}
				
				.fillers-checkbox {
					padding: 0;
					margin: 0;
					background: rgba(255, 255, 255, 0.2);
					border-radius: 14px;
					padding: 0 9px 0 16px;
					margin-top: 5px;
				}
				
				.fillers-title {
					margin: 12px 0 0 17px;
				}
			
					.fillers-checkbox li {
						list-style: none;
						padding: 0;
						margin: 0;
						height: 36px;
						display: inline-block;
						vertical-align: top;
						font-size: 16px;
						margin-right: 19px;
						line-height: 36px;
					}
					
					.fillers-checkbox li:last-child { 
						margin-right: 0;
						padding-right: 10px;
					}
					
						.fillers-checkbox-btn {
							position: absolute;
							display: none;
						}
						
						.fillers-checkbox-btn + label {
							position: relative;
							padding: 0 0 0 32px;
							cursor: pointer;
							font-size: 16px;
							font-weight: medium;
						}
					
						.fillers-checkbox-btn + label:before {
							content: "";
							position: absolute;
							left: 0px;
							top: -1px;
							width: 20px;
							height: 20px;
							background: url("../img/check-box.svg") no-repeat;
							border-radius: 3px;
							opacity: 0.85;
						}
						
						.fillers-checkbox-btn + label:hover:before {
							opacity: 1;
						}
						
						.fillers-checkbox-btn:checked + label:before {
							content: "";
							position: absolute;
							left: 0px;
							width: 20px;
							height: 20px;
							background: url("../img/check-box-checked.svg") no-repeat;
							border-radius: 3px;
							opacity: 0.85;
						}
						
						.fillers-checkbox-btn:checked + label:hover:before {
							opacity: 1;
						}
						
						.fillers-checkbox-btn:disabled + label:before,
						.fatness-radio-btn:disabled + label:before {
							opacity: 0.3;
						}
						
						.fillers-checkbox-btn:disabled + label,
						.fatness-radio-btn:disabled + label {
							cursor: default;
						}
			
			.select-ice-submit {
				font-size: 16px;
				height: 36px;
				line-height: 32px;
				margin-top: 38px;
				float: right;
				background: rgba(255, 255, 255, 0.2);
				border: 2px solid #fff;
				border-radius: 20px;
				padding: 0 27px;
			}
			
			.select-ice-submit:hover {
				background: #fafbfb;
				color: #383939;
			}
			
			.select-ice-submit:active {
				background: #eaeaea;
				color: #383939;
				border: none;
				box-shadow: inset 0 1px 2px 1px #6c6d6c;
			}
			
			
		.items {		
			font-size: 0px;
			list-style: none;
			padding: 0;
			margin-bottom: 44px;
		}
		
			.item {
				position: relative;
				display: inline-block;
				float: left;
				vertical-align: top;
				width: 200px;
				margin-right: 20px;
				font-size: 16px;
				min-height: 316px;
			}
			
			.item:after {
				content: "";
				position: absolute;
				top: -10px;
				left: -10px;
				width: 200px;
				height: 100%;
				min-height: 315px;
				padding: 10px 10px 41px 10px;
				background: rgba(255, 255, 255, 0.3);
				display: none;
				border-radius: 3px;
			}
			
			.item:hover:after {
				display: block;
				z-index: 15;
			}
			
			.item:hover .item-quick-review {
				display: block;
				z-index: 25;
			}
			
			.item:hover .item-image {
				position: relative;
				z-index: 25;
			}
			
			.item:hover .item-label {
				z-index: 25;
			}
			
			.item:hover .item-caption {
				z-index: 25;
			}
				
				.item-price {
					position: absolute;
					font-size: 45px;
					font-weight: bold;
					left: 1px;
					top: 149px;
				}
					.item-price-sumbol{
						margin-left: -5px;
					}
					
					.item-size {
						font-size: 30px;
					}
			
				.item:nth-child(4n) {
					margin-right: 0px;
				}
				
				.item-caption {
					color: white;
					position: relative;
					font-size: 16px;
					line-height: 22px;
					text-decoration: none;
					font-weight: medium;
					display: block;
					text-align: center;
					margin: 5px 6px;
					margin-bottom: 40px;
				}
				
					.item-caption-underline {
						box-shadow: inset 0 -1px 0 0 #b5c4bc;
					}
					
					.item-caption:hover .item-caption-underline,
					.item-captiom-underline:active .item-caption-underline {
						box-shadow: inset 0 -1px 0 0 #ffbc9e;
						color: #ffbc9e;
					}
				
				.item-label {
					position: absolute;
					top: 0;
					left: 0;
					font-size: 0;
				}
				
				.item-quick-review {
					position: absolute;
					font-size: 15px;
					font-weight: bold;
					margin-left: 15px;
					border-radius: 12px;
					padding: 0 17px;
					bottom: -21px;
					text-align: center;
					height: 35px;
					line-height: 35px;
					display: none;
				}
				
				.item-label {
					width: 60px;
					height: 60px;
					background: url("../img/hit.png");
				}		
			
		.features {
			margin-top: -46px;
			margin-bottom: 40px;
			background: #ece0c7;
			padding-bottom: 5px;
			background-image: url("../img/pattern_waffle.jpg"); 
			border-radius: 12px;
			color: #323232;
		}	
				
			.features-title-h4 {
				margin: 0 20px 27px 20px;
				padding-top: 21px;
				font-size: 24px;
				line-height: 30px;
			}	

			.features-table {
				font-size: 16px;
				line-height: 22px;
				color: #323232;
				font-weight: 500;
			}	
			
				.features-table-cell {
					width: 347px;
					padding-left: 78px;
					vertical-align: top;
					padding-bottom: 20px;
					position: relative;
				}
				
					.features-table-cell-left {
						padding-left: 73px;
						width: 345px;
					}
				
				.features-table-ice,
				.features-table-cow,
				.features-table-leaf,
				.features-table-temp {
					width: 47px;
					height: 47px;
					position: absolute;
					top: -16px;
					left: 21px;
					background-color: black;
				}
				
				.features-table-ice {
					background: url("../img/features-ico-ice.svg");
					top: -13px;
					left: 21px;
				}
				
				.features-table-cow {
					background: url("../img/features-ico-cow.svg");
					top: -13px;
					left: 16px;
				}
				
				.features-table-leaf {
					background: url("../img/features-ico-leaf.svg");
					top: -10px;
					left: 22px;
				}
				
				.features-table-temp {
					background: url("../img/features-ico-temp.svg");
					top: -9px;
					left: 16px;
				}
					
		.news-mailing {
			margin-bottom: 38px;
			color: #353535;
		}
			.news-mailing article {
				width: 420px;
				min-height: 220px;
			}
				.blog-news {
					float: left;
					background: #fff;
					background: url("../img/bg_strawberry_news.jpg");
					border-radius: 11px;
				}
				
					.g-title-h5 {
						margin: 24px 0 3px 20px;
						color: #5a5a5a;
						font-size: 16px;
					}
				
					.news-mailing-link {
						display: inline-block;
						vertical-align: top;
						color: #353535;
						margin-left: 22px;
						font-size: 24px;
						font-weight: bold;
						line-height: 29px;
						max-width: 290px;
					}
					
						.blog-news-link-bg {
							background-color: rgba(255, 255, 255, 0.7);
							padding: 0 10px 2px 0;
						}
				
				.mailing {
					float: right;
					background: #f8f7f4;
					border-radius: 11px;
					background-image: url("../img/bg_mailing.png");
				}
				
					.mailing-text {
						margin: 34px 30px 14px 27px;
						font-size: 16px;
						width: 380px;
						line-height: 22px;
					}
					
						.mailing-form-email {
							width: 208px;
							height: 42px;
							margin: 0 7px 25px 27px;
							border: 1px solid #d3d3d2;
							border-radius: 3px;
							padding: 0 10px;
						}
						
						.mailing-form-submit {
							border-radius: 18px;
							font-size: 17px;
							font-weight: bold;
							line-height: 44px;
							padding: 0 22px;
							height: 44px;
						}
			
		.contacts {
			position: absolute;
			right: 200px;
			top: 68px;
			border-radius: 12px;
			width: 302px;
			min-height: 305px;
			color: #343434;
			background: #fefefe;
			z-index: 25;
		}
			.contacts p {
				margin-left: 26px;
				font-size: 14px;
			}
			
			.contacts-address {
				margin-top: 26px;
				font-size: 14px;
				line-height: 20px;
			}
				
					.contacts-address-street,
					.contacts-phone-number {
						font-size: 18px;
						line-height: 24px;
						font-weight: bold;
					}
				
			.contacts-phone {
				margin-bottom: 24px;
				margin-top: 19px;
			}
			
			.contacts-button {
				margin-left: 26px;
				padding: 0 32px;
				border-radius: 18px;
				width: 186px;
				font-size: 17px;
				font-weight: bold;
				height: 44px;
				line-height: 44px;
			}
		
			.pagination {
				font-size: 0;
				margin-bottom: 29px;
				margin-right: -6px;
				margin-top: -2px;
				float: right;
			}
			
				.pagination a {
					display: inline-block;
					vertical-align: top;
					width: 16px;
					height: 16px;
					font-size: 16px;
					line-height: 16px;
					text-decoration: none;
					color: #fff;
					text-align: center;
					margin-left: 5px;
					padding: 4px;
				}
				
				.pagination .page-next {
					margin-left: 10px;
					padding-right: 0; 
				}
				
				.pagination .page-previous {
					margin-right: 4px;
				}
				
				.pagination a:hover {
					background: rgba(255, 255, 255, 0.5);
					border-radius: 100%;
				}
				
				.pagination  a.pagination-current {
					color: #353535;
					background: #fff;
					border-radius: 100%;
					padding: 4px;
				}

				.pagination .page-next:hover {
					background: url("../img/page-next.png") no-repeat 50%;
				}
				
				.pagination .page-next {
					background: url("../img/page-next.png") no-repeat 50%;
				}
				
				.pagination .page-previous {
					background: url("../img/page-next.png") no-repeat 50%;
					-webkit-transform: rotate(180deg);
				}
				
				.pagination .page-previous:hover {
					background: url("../img/page-next.png") no-repeat 50%;
					-webkit-transform: rotate(180deg);
				}
				
				.inactive {
					opacity: 0.5; 
				}
				
				.inactive:hover {
					cursor: default;
				}
				
		.map {
			height: 430px;
			background: #f0ead4 url("../img/map.jpg") no-repeat 50%;
			position: relative;
		}
			
			.map-pointer {
				position: absolute;
				left: 115px;
				bottom: -275px;
			}
			
		.main-content > .container {
			border-bottom: 2px solid #a9bbb1;
		}			
	
	.main-footer {
	}

		.footer-social {
			float: left;
			width: 200px;
			padding: 20px 0;
			font-size: 0;
		}
			
			.social-btn {
				display: inline-block;
				vertical-align: top;
				text-decoration: none;
				width: 31px;
				height: 31px;
				margin-right: 13px;
				border-radius: 100%;
				border: 3px solid #c2cec7;
				opacity: 0.7;
			}
			
			.social-btn-twitter {
				background: url("../img/twitter.svg") no-repeat 50%;
			}
			
			.social-btn-insta {
				background: url("../img/insta.svg") no-repeat 50%;
			}
			
			.social-btn-facebook {
				background: url("../img/facebook.svg") no-repeat 50%;
			}
			
			.social-btn-vk {
				background: url("../img/vk.svg") no-repeat 50%;
			}
			
			.social-btn:hover {
				opacity: 1;
			}
			
			.social-btn:active {
				box-shadow: inset 0 1px 3px black;
			}
		
		.footer-info {
			float: left;
			width: 420px;
			padding: 14px 0;
			font-size: 0;
			margin-left: 40px;
		}
		
			.footer-info-link {   
				display: inline-block;
				vertical-align: top;
				min-width: 143px;
				font-size: 13px;
			}
				
				.footer-info-heart {
					position: relative;
				}
				
				.footer-info-heart:before {
					content: "";
					position: absolute;
					height: 13px;
					width: 15px;
					left: -22px;
					top: 5px;
					background: url("../img/heart.svg") no-repeat 50%;
				}
			
				.footer-info-link a,
				.footer-copyright-link {
					color: #fff;
					text-decoration: none;
					box-shadow: inset 0 -1px 0 0 #abbcb3;
				}
				
				.footer-info-link a:hover,
				.footer-info-link a:active,
				.footer-copyright a:hover, 
				.footer-copyright a:active {
					color: #ec593c;
					box-shadow: inset 0 -1px 0 0 #ec593c;
				}
		
		.footer-copyright {
			float: right;
			width: 188px;
			padding: 19px 0;
		}	
		
			.footer-copyright p {
				padding: 0;
				margin: 0;
				margin-top: -3px;
				margin-right: -2px;
				font-size: 12px;
				float: right;
			}

	.feedback-form {
		width: 478px;
		min-height: 443px;
		display: none;
		position: fixed;
		background: #f8f7f4;
		border-radius: 7px;
		z-index: 30;
		top: 20%;
		left: 30%;
	}
	
		.title-feedback-form {
			font-size: 24px;
			color: #343434;
			font-weight: medium;
			margin: 20px 0 22px 25px;
		}
		
		.feedback-form-input {
			width: 236px;
			margin: 0 0 20px 24px;
			padding: 0 15px;
			border-radius: 3px;
			border: 1px solid #d3d3d2;
			font-size: 16px;
			font-weight: 400;
			height: 42px;
			line-height: 42px;
			color: #333;
		}
		
		.feedback-form-email {
			padding-left: 20px;
			width: 231px;
		}
		
		.feedback-form-textarea {
			width: 386px;
			min-height: 133px;
			padding: 9px 20px;
			margin: 0 0 90px 24px;
			color: #333;
			border-radius: 3px;
			border: 1px solid #d3d3d2;
			resize: none;
		}
		
		.feedback-form-submit {
			position: absolute;
			bottom: 27px;
			right: 25px;
			font-size: 17px;
			font-weight: bold;
			height: 44px;
			padding: 0 26px;
			border-radius: 18px;
		}
		
		.feedback-form-button-close {
			width: 18px;
			height: 16px;
			position: absolute;
			top: 15px;
			right: 15px;
			border: none;
			background: url("../img/cross-x.svg") no-repeat 50%;
		}
		
		.feedback-form-show {
			display: block;
			animation: bounce 0.6s;
		}
		
@keyframes bounce {
	0% {
	transform: translateY(-2000px);
	}
	70%  {
	transform: translateY(30px);
	}
	90%  {
	transform: translateY(-10px);
	}
	100% {
	transform: translateY(0);
	}
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

	

